
	

			<h3 class="form-signin-heading">Please input your arrival time!</h3>
			<div class="controls" style="margin-left: 15%">
				<input type="text" class="input-xlarge" id="hour" name="hour"
					placeholder="Hour"> <input type="text" class="input-xlarge"
					id="minute" name="minute" placeholder="Minute"> <input
					type="text" class="input-xlarge" id="second" name="second"
					placeholder="Second">
				<div style="padding-top: 20px; margin-left:25%">
					<button type="submit" class="btn btn-primary">Submit Time</button>
				</div>
			</div>
		</form>
	</div>
	<!-- /container -->